<!-- <div layout="row" class="theme" layout-align="center center">
  <h1>Vanna.com</h1>
</div> -->
<div class="app">
  <div class="working-area">
    <div class="video" *ngFor="let video of videos">
      <div>
        <video
          class="video-player"
          controls
          loop
          #myVideo
          src="{{ video.url }}"
        ></video>
        <div class="videoFooter">
          <div class="">
            <h3>@tahirOlaosebikan</h3>
            <p>{{ video.description }}</p>
          </div>

          <img
            class="videoFooter__record"
            src="https://static.thenounproject.com/png/934821-200.png"
            alt=""
          />
        </div>

        <div class="videoSidebar">
          <div class="videoSidebar__button">
            <mat-icon>favorite_border</mat-icon>
            <p>34</p>
          </div>
          <div class="videoSidebar__button">
            <mat-icon> insert_comment</mat-icon>
            <p>34</p>
          </div>
          <div class="videoSidebar__button">
            <mat-icon>share</mat-icon>
            <p>34</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
