<!-- <div layout="row" class="theme" layout-align="center center">
  <h1>Vanna.com</h1>
</div> -->
<div class="app">
  <div class="working-area">
    <div class="video" *ngFor="let video of videos">
      <div>
        <video
          class="video-player"
          controls
          loop
          #myVideo
          src="https://v16m.tiktokcdn.com/eb3c50a05f49ee6ef7348bb3e381bf83/5f3292af/video/tos/useast2a/tos-useast2a-pve-0068/f80e7258221d4863bb99d570fafdef8f/?a=1233&amp;br=3866&amp;bt=1933&amp;cr=0&amp;cs=0&amp;dr=0&amp;ds=3&amp;er=&amp;l=2020080912443101011500406500089AC7&amp;lr=tiktok_m&amp;mime_type=video_mp4&amp;qs=0&amp;rc=anNqcDM4NWRmdjMzPDczM0ApNzw2NTk0Zzs8NzhkOTg7aGdqLWdwLS5eYGtfLS1iMTZzczNgYl5fYS0tLzUvNDUzLzM6Yw%3D%3D&amp;vl=&amp;vr="
        ></video>
        <div class="videoFooter">
          <div class="">
            <h3>@tahirOlaosebikan</h3>
            <p>How to become angular developer!</p>
          </div>

          <img
            class="videoFooter__record"
            src="https://static.thenounproject.com/png/934821-200.png"
            alt=""
          />
        </div>

        <div class="videoSidebar">
          <div class="videoSidebar__button">
            <mat-icon>favorite_border</mat-icon>
            <p>34</p>
          </div>
          <div class="videoSidebar__button">
            <mat-icon> insert_comment</mat-icon>
            <p>34</p>
          </div>
          <div class="videoSidebar__button">
            <mat-icon>share</mat-icon>
            <p>34</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
